* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

}

body.active {
  overflow: hidden;
}
/* ------------ N A V I G A T I O N   M E N U ----------- */

.menu-icon {
  cursor: pointer;
  width: 24px;
  height: 16px;
}

.menu-icon>* {
  backface-visibility: hidden;
  position: absolute;
  border-top: 3px solid #ffffff;
  border-top-color: inherit;
  width: 100%;
  transition: 0.55s;
}

.menu-icon>.top {
  top: 0;
}

.menu-icon>.middle {
  top: 50%;
  margin-top: -1px;
}

.menu-icon>.bottom {
  top: 14px;
  margin-bottom: -1px;
}

.menu-button.active .menu-icon>.top,
.menu-button.active .menu-icon>.bottom {
  backface-visibility: hidden;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.menu-button.active .menu-icon>.top {
  top: 7px;
  -moz-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

.menu-button.active .menu-icon>.middle {
  opacity: 0;
}

.menu-button.active .menu-icon>.bottom {
  top: 7px;
  -moz-transform: rotate(-410deg);
  -webkit-transform: rotate(-410deg);
  -o-transform: rotate(-410deg);
  -ms-transform: rotate(-410deg);
  transform: rotate(-410deg);
}

.menu-button {
  position: relative;
  z-index: 10001;
  float: right;
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  margin: 20px 50px 0 0;
  font-size: 28px;
  cursor: pointer;
  letter-spacing: .2em;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.menu-reverse-color {
  color: #000;
}
.menu-reverse-color.reverse {
  color: #fff;
}

.menu-button .close-text,
.menu-button .open-text {
  display: inline-block;
}

.menu-button .close-text {
  display: none;
}

.menu-button.active .open-text {
  display: none;
}

.menu-button.active .close-text {
  display: inline-block;
}

.menu-button .menu-icon {
  float: right;
  margin-left: 10px;
  position: relative;
  top: 8px;
}

.overlay {
  position: fixed;
  background: #2e3f43;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
}

.overlay.open {
  opacity: .95;
  visibility: visible;
  height: 100%;
  z-index: 10000;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .25s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .3s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .5s;
}

.overlay.open li:nth-of-type(5) {
  animation-delay: .6s;
}

.overlay nav {
  font-size: calc(24px + 2vw);
  font-family: Rajdhani, sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

.overlay ul li {
  display: block;
  height: calc(100% / 5vw);
  min-height: 100px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 2;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay-logo {
  height: 50px;
  margin: 23px 0 0 50px;
}
/* ------------ BACKGROUND VIDEO -------------- */

.video-container {
  position: relative;
  top: -80px;
  width: 100%;
  height: 100%;
  min-height: 700px;
  text-align: center;
  overflow: hidden;
  z-index: 1030;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.logo-text.active {
  opacity: 0;
  transition: all 1s;
}

.bgvid {
  /* Nezinu, kāpēc, bet šis jāizņem, lai bulta darbotos
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  */
}

.front-logo {
  max-width: 400px;
  width: 45vw;
}

.logo-text>h1 {
  font-family: Merriweather, serif;
  font-size: 18pt;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 40px;
}

.arrow-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  padding: 30px 30px 10px 30px;
}

#arrow {
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(-315deg);
  /* transform-origin: 0 0; /* bez šī nevar horizontāli centrēt, jo rotēšanas rezultātā paliek nobīde uz vienu pusi (ja nav wrap div!) */
}

.arrow-wrap:hover {
  bottom: 25px;
  transition: all .4s ease;
}

.bulta:after,
.bulta:before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 50px solid #ffffff;
}

.bulta:before {
  left: 50%;
  margin-left: -1050px;
  border-right: 50px solid transparent;
  border-left: 1000px solid #fff;
}

.bulta:after {
  left: 50%;
  border-left: 50px solid transparent;
  border-right: 1000px solid #fff;
}

.front {
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front.par-mums {
  position: relative;
  z-index: 1004;
  height: 650px;
  background-color: #fff;
}

.front.atsauksmes {
  position: relative;
  overflow: hidden;
  background: #000;
  z-index: 1002;
  height: 950px;
  color: #eeece3;
}


.front.atsauksmes:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -11;
  opacity: 0.3;
  background-image: url(img/fons.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.front.rezervacija {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  z-index: 1004;
  height: 800px;
}

.front.rezervacija:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -11;
  opacity: 0.4;
  background-image: url(img/fons2.jpg);
  background-repeat: no-repeat;
  background-position: left 90% bottom 65%;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.front.kontakti {
  height: 650px;
  position: relative;
  overflow: hidden;
  margin-bottom: 550px;
  background: #000;
  z-index: 1004;
  color: #eeece3;
}

.front.kontakti:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -11;
  opacity: 0.3;
  background-image: url(img/fons-map.jpg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 40%;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.front>h1 {
  font-size: calc(36pt + 1vw);
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  width: 70%;
}

.front>p {
  font-size: 22pt;
  max-width: 900px;
  width: 80%;
  line-height: 1.4
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 30px auto;
  height: 0;
  width: 10%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 10px solid #b0dede;
}

.btn {
  color: #2e3f43;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-family: Rajdhani, sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 auto 2em;
  max-width: 190px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  margin-top: 40px;
}

.btn-1 {
  background: transparent;
  font-weight: 900;
  -ms-transform: scale(1, 1) translateZ(0);
  -webkit-transform: scale(1, 1) translateZ(0);
  transform: scale(1, 1) translateZ(0);
  -ms-transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1 svg {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #2e3f43;
  stroke-width: 6;
  stroke-dasharray: 422, 0;
  opacity: 1;
  transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1:hover {
  transform: scale(1.5, 1.5);
}

.btn-1:hover rect {
  stroke-width: 6;
  stroke-dasharray: 45, 320;
  stroke-dashoffset: 48;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-white {
  color: #eeece3;
}

.btn-white rect {
  stroke: #eeece3
}

footer {
  background-color: #2e3f43;
  height: 550px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1001;
}

.footer-nav>ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  max-width: 1200px;
  width: 90%;
  margin: 30px auto 0 auto;
}

.footer-logo {
  margin: 80px 0 40px 0;
  width: 100%;
  max-height: 200px;
  min-height: 120px;
  height: 25vw;
}

.footer-nav a {
  display: inline-block;
  text-decoration: none;
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.9;
  text-transform: uppercase;
  color: #81a6b0;
  margin: 0 5px;
}

.footer-nav a:hover {
  color: #fff;
}
.social {
  text-align: center;
}
.social img {
  display: inline-block;
  height: 25px;
  padding: 10px;
  margin: 30px 10px;
}






/* ------------------------- PAR MUMS ------------------------- */

.gallery-container {
  width: 100%;
  height: 100%;
}

.gallery-container div {
  
  display: none;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class^="about-"] {
  position: absolute;
  width: 40%;
  top: 20%;
  left: 15%;
  line-height: 1.5;
}
.about-2 {
  top: 30%;
  left: 55%;
}
.about-3 {
  top: 40%;
  left: 15%;
}
.about-4 {
  top: 60%;
  left: 35%;
}
.text-about {
  display: inline;
  font-size: 2.7vmin;
  color: #00052e;
  font-family: Merriweather, serif;
  background: rgba(181, 161, 161, 0.88);
  padding: 2px 15px;
  box-decoration-break: clone; 
  -webkit-box-decoration-break: clone;
}


.galer-poga {
  position: absolute;
  z-index: 2;
  top: 50%;
  font-size: 4vw !important;
  color: #ffd2cf;
}

.next {
  right: 40px;
  padding: 20% 2% 20% 40%;
  margin: -20% -1%;
}

.prev {
  left: 40px;
  padding: 20% 40% 20% 2%;
  margin: -20% -2%;
}

.galer-poga:hover {
  cursor: pointer;
  animation: bounceright .3s alternate ease infinite;
}

.gallery {
  position: absolute;
  margin-bottom: 550px;
  z-index: 1002
}
.gallery.active {
  filter: blur(4px);
}


/* ------------------------- ATSAUKSMES ------------------------- */

.comment-bg {
  position: relative;
  margin-bottom:  550px;
  background-color: #efefef;
  z-index: 1003;
}
.comment-bg.active {
  filter: blur(4px);
}

.atsauksmju-uzruna {
  margin: 0 auto;
  padding-top: 190px;
  max-width: 900px;
  width: 60%;
  text-align: center;
  line-height: 1.6;
}

.atsauksmju-uzruna p {
  font-family: Merriweather, serif;
  font-size: 16pt;
  margin-top: 40px;
}
.atsauksmju-uzruna h1 {
  font-family: Rajdhani, "sans-serif";
  font-size: 36pt;
  letter-spacing: 2px;
}

#disqus_thread {
  position: relative;
  max-width: 900px;
  width: 60%;
  margin: 0 auto;
  padding: 100px 0;
}

#disqus_thread:after {
  /* aizsedz disqus footeri */
  position: relative;
  content: "";
  display: block;
  height: 75px;
  width: 100%;
  margin-top: -60px;
  background: #efefef;
  z-index: 2;
}

.disqus-placeholder.is-hidden { display: none; }

.disqus-placeholder {
  font-size: 16px;
  font-family: Merriweather, serif;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 100px 0;
}

/* ------------------------- REZERVĀCIJA ------------------------- */

.whole-reg-wrap {
  width: 100%;
  
  background-color: #fff;
  position: relative;
  margin-bottom: 550px;
  z-index: 1002;
}

.reg-wrap.active {
  filter: blur(4px);
}

.reg-wrap {
  text-align: center;
  width: 100%;
}

.reg-wrap:first-of-type {
  padding-top: 120px;
}

.reg-saturs {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.reg-wrap-mid {
  background-color: #efefef;
  height: 700px;
  width: 100%;
}


.reg-nosauk {
  font-family: Rajdhani, 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18pt;
  padding: 80px 0 60px 0;
}
.reg-wrap-bottom .reg-nosauk {
  padding-bottom: 15px;
}
.reg-wrap-bottom hr {
  margin-top: 35px;
}

.reg-nosauk h2:before {
  background-size: 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
  right: 10px;
  opacity: 0;
  content: "";
}

.first-h2:before {
  background-image: url(img/1.svg);
  animation: slideIn 1s ease 1s forwards;
}

.second-h2:before {
  background-image: url(img/2.svg);
  animation: slideIn 1s ease 2s forwards;
}

.third-h2:before {
  background-image: url(img/3.svg);
  animation: slideIn 1s ease 3s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.kalendars {
  display: inline-block;
  width: 230px;
  padding-bottom: 80px;
}

form {
  display: block;
  width: 506px;
  margin: 0 auto;
}

label {
  float: left;
  width: 180px;
  text-align: right;
  margin-right: 5%;
  font-family: Merriweather, serif;
  padding-top: 7px;
  font-size: 15pt;
}

.checkbox-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}


form>label:last-of-type {
  font-size: .8em;
  padding-bottom: 30px;
  margin-right: 1px;
  float: right;
  width: 330px;
}

form>label:last-of-type a {
  text-decoration: none;
  color: #f73838;
}

form>label:last-of-type a:hover {
  border-bottom: 1px solid red;
  padding-bottom: 2px;
  text-decoration: none;
}

input,
textarea {
  display: block;
  width: 300px;
  margin: 7px;
  font-family: Merriweather, serif;
  font-size: 1.1em;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

textarea {
  font-size: 1em;
  height: 100px;
  max-width: 300px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

input[type="checkbox"] {
  display: inline;
  width: 14px;
}

.required input {
  background: #ffffff url(img/asterisk.svg) 97% 50%/10px 10px no-repeat;
}

.reg-saturs-bottom {
  max-width: 700px;
  width: 85%;
}
.reg-wrap-bottom {
  height: 100%;
}

.reg-saturs-bottom p {
  font-family: Merriweather, serif;
  font-size: 16pt;
  line-height: 1.4;
}

@media (max-width: 800px) {
  .kalendars:last-of-type {
    display: none;
  }
}
@media (max-width: 560px) {
  .kalendars {
    width: 350px;
  }
  label,
  input,
  textarea {
    display: block;
    text-align: left;
    float: none;
    width: 98%;
    min-width: 98%;
  }
  input[type="checkbox"] {
    min-width: 14px;
  }
  label {
    margin-left: 7px;
  }
  form {
    width: 100%;
  }
  .reg-wrap-mid {
    height: 930px;
  }
  #disqus_thread {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .overlay-logo {
    display: none;
  }
  .front > h1 {
    width: 90%;
    font-size: calc(26pt + 1vw);
  }
  .front > p {
    width: 90%;
    font-size: 18pt;
  }
  .btn {
    max-width: 300px;
  }
  .btn-1 rect {
    stroke-width: 6;
    stroke-dasharray: 422, 0;
    opacity: 1;
    transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-1:focus, btn-1:hover {
    transform: scale(1.5, 1.5);
  }

  .btn-1:focus rect, .btn-1:hover rect {
    stroke-width: 6;
    stroke-dasharray: 45, 485;
    stroke-dashoffset: 48;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .overlay nav {
    top:45%;
  }
  .overlay ul li {
    min-height: 70px;
  }
  .video-container {
    min-height: 500px;
  }
  .logo-text > h1 {
    font-size: 14pt;
    font-weight: 400;
  }
  .menu-button {
    margin: 20px 20px 0 0;
  }
  hr {
    width: 30%;
  }
}