@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(beach.jpg) no-repeat;
    background-size: cover;
}


/* +++++++++++++++++++++++++ KONTAKTIEM +++++++++++++++++++++++++ */

#map {
    height: 100%;
}

.gm-style-cc {
    display: none !important;
}

.gm-style a[title='Click to see this area on Google Maps'] {
    display: none !important;
}

#map_pointer a {
    text-decoration: none
}

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    padding: 10px;
}

#kontaktu_info a {
    color: white;
    text-decoration: none;
}

#social a:hover {
    color: #44c767;
    cursor: pointer;
}

#kontaktu_info {
    position: absolute;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 475px;
    background: rgba(63, 83, 83, 0.87);
    font-size: 1em;
    padding: 15px;
    z-index: 98;
}

#rekviz_wrap {
    border-top: 1px solid #8e9699;
    padding: 20px 0 20px 0;
}

#kont_info_wrap {
    border-top: 1px solid #8e9699;
    padding: 20px 0 20px 0;
}

#rekviz_wrap p {
    font-size: .8em!important;
}

#kontaktu_info p {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 100;
    color: #b1bec3;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
}

#kontaktu_info #social {
    display: table;
    width: 100%;
    padding: 30px 0;
}

#kontaktu_info .social {
    display: table-cell;
    text-align: center;
}

.rezerv_poga {
    background-color: #44c767;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 17px 35px;
    text-decoration: none;
    text-shadow: 0px -1px 6px #2f6627;
}

.rezerv_poga:hover {
    background-color: #75b256;
}

.rezerv_poga:active {
    position: relative;
    top: 1px;
}

.btn_wrap {
    text-align: center;
    padding: 20px 0 10px 0;
    border-top: 1px solid #8e9699;
}


/* ---------- HEADER --------- */

header {
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: rgba(43, 43, 43, 0.9);
    z-index: 100;
}

header img {
    display: inline-block;
    height: 60px;
    position: relative;
    left: 10%;
}

nav {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 15%;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    padding: 15px 2px 12px 2px;
    margin: 0 13px;
    color: #ffd2cf;
}

nav a:hover {
    border-bottom: 3px solid #ffd2cf;
}


/* ---------- UZRUNA --------- */

#uzruna {
    position: absolute;
    width: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Raleway", Helvetica, sans-serif;
    text-align: center;
    color: #ffd2cf;
    line-height: 1.6;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#uzruna h1 {
    font-size: 2.3vw;
    font-weight: 300;
    border-bottom: 1px solid white;
    letter-spacing: 0.82vw;
}

#uzruna h3 {
    font-size: 3.5vw;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.14vw;
}


/* ---------- BUTTON --------- */

#btn-wrapper {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-family: "Roboto", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 1px;
    background: #FE5F55;
    border: none;
    color: white;
    transition: .2s;
    min-width: 15em;
}

button:before,
button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s;
}

button:before {
    background: rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #fe2f22;
    cursor: pointer;
}

button:active,
button:focus {
    background: #b90c01;
    outline: none;
}

button:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
}

button:after {
    content: "\F054";
}

@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(3px);
    }
}

@keyframes bounceright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3px);
    }
}


/* ---------- FOOTER --------- */

footer {
    width: 70%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: roboto, sans-serif;
}

#right-nav {
    float: right;
    display: inline;
}

#right-nav a {
    color: #c39999;
    text-decoration: none;
    padding: 0 20px;
}

#left-text {
    color: #c39999;
    display: inline;
}

#left-text a {
    color: #c39999;
    text-decoration: none;
}

@media screen and (max-device-width: 800px) {
    html {
        background: url(beach.jpg) #000 no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #bgvid {
        display: none;
    }
}

@media (max-width: 1000px) {
    header img {
        left: 7%;
    }
    nav {
        margin-right: 5%;
    }
}

@media (max-width: 780px) {
    header img {
        top: 15px;
        left: 50%;
        transform: translateX(-50%)
    }
    header {
        height: 135px;
    }
    nav {
        float: none;
        display: block;
        margin: 0 auto;
        top: 11px;
        text-align: center;
    }
}
